*{
  margin: 0;
  box-sizing: border-box;
}


.cat-head {
    background: linear-gradient(45deg, rgb(0, 0, 0, 0.5) 20%, 40%, rgb(165, 42, 42, 0.6) 80%), linear-gradient(270deg, rgb(0, 0, 0, 0.5) 50%, 80%, rgb(255,215,0, 0.8) 90%);;
    width: 50vw;
    height: 50vh;
    position: relative;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45%;
  }

.cat-ear-left {
  position: absolute;
  top: .5rem;
  height: 20rem;
  width: 12rem;
  background: linear-gradient(120deg, rgb(0,0,0, 0.8) 20%, rgb(165, 42, 42, 0.7) 50%, rgb(255,215,0, 0.6) 56%, rgb(360, 360, 360, 1.0) 60%);
  margin-left: -0.5rem;
  margin-top: -5rem;
  transform: skew(5deg, 40deg);
  border-radius: 10%;
  z-index: -1;
}

.cat-ear-right {
  position: absolute;
  top: .5rem;
  right: 1rem;
  height: 20rem;
  width: 12rem;
  background: linear-gradient(240deg, rgb(0,0,0, 0.8) 20%, rgb(165, 42, 42, 0.7) 50%, rgb(255,215,0, 0.5) 54%, rgb(360, 360, 360, 1.0) 55%);
  margin-right: -1rem;
  margin-top: -6rem;
  transform: skew(-2deg, -42deg);
  border-radius: 10%;
  z-index: -1;
}


.cat-brow-left {
  position: absolute;
  top: 8rem;
  left: 8rem;
  height: 1rem;
  width: 10rem;
  background: rgb(0,0,0);
  transform: rotate(20deg);
}

.cat-eye {
  position: absolute;
  top: 0.1rem;
  left: 5rem;
  background: rgb(0,0,0);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.cat-brow-right {
  position: absolute;
  top: 8rem;
  right: 8rem;
  height: 1rem;
  width: 10rem;
  background: rgb(0,0,0);
  transform: rotate(340deg);
}

